/* product */
.products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product{
  width: 25%;
  padding: 0 12px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.hot{
  position: absolute;
  top: 0;
  background: red;
  padding: 5px 20px;
  color: white;
}
.new{
  position: absolute;
  top: 0;
  background: green;
  padding: 5px 20px;
  color: white;
}
.product-image{
  width: 100%;
  height: 200px;
}
.product-image img{
  width: 100%;
  height: 100%;
}
.product-details{
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
}
.product-name{
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0;
}
.product-price{
  font-size: 20px;
  font-weight: 300;
}
.not-found{
  margin-top: 100px;
  
}
/* cart style */
.cart-cointainer{
  width : 100%;
  margin-top: 80px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cart-details{
  width: 75%;
  border : 1px solid #fafafa;
  border-radius: 5px;
}
.cart{
  display: flex;
  align-items: center;
  background: white;
  padding: 15px 20px;
}
.cart-image{
  display: inline-block;
  width: 100px;
  height: 80px;
  border-radius: 15px;
  overflow: hidden;
}
.cart-image img{
  width: 100%;
  height: 100%;
}
.cart-product-name{
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 15px;
}
.cart-product-price{
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  /* color: red; */
}
.inc{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid red;
  font-size: 15 px;
  color: red;
  cursor: pointer;

}
.product-quantity{
  display: inline-block;
  padding: 0 15px;
  text-align: center;
}
.dec{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid green;
  font-size: 15 px;
  color: green;
  cursor: pointer;

}
.product-total-price{
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  text-align: center;
}
.delete-product{
  border: none;
  color: red;
  cursor: pointer;
}
